<div class="row person">
  <div class="col-md-3 col-sm-12 person-info">
    <img class="person-picture" [src]="BASE_URL + 'profil_pictures/' + (profile.person.photo ? profile.person.photo : 'default.png')" alt="Image de profile"/>
    <div class="">
      <div class="d-flex justify-content-between align-self-center">
        <h1>{{ profile.username }}</h1>
        <a *ngIf="canViewAll()" [routerLink]="['/profile', profile.id, 'edit']"><img id="icon" src="assets/icons/setting.svg"></a>
      </div>
      <h2 *ngIf="canViewAll()">{{ profile.person.firstname + ' ' + profile.person.lastname }}</h2>
      <p>A rejoint le {{ profile.person.created_at|date:'dd/MM/yyyy':'UTC +1' }}</p>
    </div>
  </div>


  <div class="col-md-9 col-sm-12" *ngIf="canViewAll()">
    <h1>Films vues</h1>
    <div class="table-programmes">
      <table class="table" *ngIf="viewed.length != 0">
        <thead>
        <tr>
          <th></th><th>Film</th><th>Date</th><th>Nombre de places</th><th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let view of viewed">
          <td class="imagePreview"><img *ngIf="view.reservations?.[0]?.programme?.film?.coverPath" [src]="BASE_URL + 'films_cover/' + view.reservations[0].programme.film.coverPath" alt="Affiche du film {{ view.reservations[0].programme.film.title }}"/></td>
          <td>{{ view.reservations?.[0]?.programme?.film?.title || 'Aucun film' }}</td>
          <td>{{ view.date | date: 'dd/MM/YY HH:mm': 'UTC+1' }}</td>
          <td>{{ view.reservations?.[0]?.seats?.length || 0 }}</td>
          <td><button class="btn btn-outline-primary" (click)="ticket(view.id)">Ticket</button></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div>
      <h1>Commentaires</h1>
      <table class="table">
        <thead>
          <tr><th>Film</th><th>Titre</th><th>Note</th></tr>
        </thead>
        <tbody>
          <tr *ngFor="let comment of profile.visibleComments">
            <td><a [routerLink]="['/film', comment.film.slug]">{{ comment.film.title }}</a></td>
            <td><a [routerLink]="['/film', comment.film.slug]">{{ comment.title }}</a></td>
            <td><a [routerLink]="['/film', comment.film.slug]">{{ comment.note }}/20</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
