<article>
  <h3>{{ comment.title }} • {{ comment.note }}/20</h3>
  <p>{{ comment.content }}</p>
  <div>
   <strong><a [routerLink]="['/profile', comment.author.id]">{{ comment.author?.username }}</a></strong> • {{ comment.updated_at | date:'dd/MM/yyyy hh:mm':'UTC +1' }}
    <span *ngIf="canReport"> • <button class="txt text-danger" (click)="onReport()">Signaler</button></span>
    <span *ngIf="canDelete"> • <button class="text-danger" (click)="onDelete()">Supprimer</button></span>
  </div>
</article>
