<div class="horizontal">
  <h1>Personnalités</h1>
  <a class="btn btn-primary" [routerLink]="['/tools','personality','new']">Nouvelle personnalité</a>
</div>
<div>
  <table class="table table-striped" *ngIf="this.personalities.length != 0; else noPersonality">
    <thead>
      <tr><th>ID</th><th>Prénom</th><th>Nom</th><th>Date de naissance</th><th>Créé le</th><th>Dernière Modification</th><th>Actions</th></tr>
    </thead>
    <tbody>
      <tr *ngFor="let personality of personalities">
        <td>{{ personality.id }}</td>
        <td>{{ personality.firstname }}</td>
        <td>{{ personality.lastname }}</td>
        <td>{{ personality.birthdate|date:'dd/MM/yyyy':'UTC +1' }}</td>
        <td>{{ personality.created_at|date:'dd/MM/yyyy hh:mm':'UTC +1' }}</td>
        <td>{{ personality.updated_at|date:'dd/MM/yyyy hh:mm':'UTC +1' }}</td>
        <td>
          <div class="d-flex justify-content-evenly">
            <a class="btn btn-primary" [routerLink]="['/personality', personality.id]">Voir</a>
            <a class="btn btn-primary" id="edit" [routerLink]="['/tools','personality','edit', personality.id]">Éditer</a>
            <button class="btn btn-danger" (click)="onDelete(personality.id)">Supprimer</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noPersonality><em>Aucune personnalitée à afficher.</em></ng-template>
</div>
