<div class="card">
  <div class="card-header">
    <div class="help-icon">?</div> Informations sur les rôles
  </div>
  <div class="card-body">
    <p>Les différents rôles permettent d'accéder aux différentes outils de gestion, de modération et d'administration du site.</p>
    <hr/>

    <h1>Modérateur</h1>
    <p>
      Les modérateurs ont la possibiilté d'accéder à la section <strong>Commentaires</strong>. Cette section permet de modérer
      l'intégralité des commentaires laissé sous les films. Tous les signalement effectué sont regroupé dans l'onglet
      <a [routerLink]="['reports','active']">derniers signalements</a>.
    </p>
    <hr/>

    <h1>Gestionnaire</h1>
    <p>
      Les gestionnaires ont accés à la section <strong>Gestion des Films</strong>. Cette section contient tous les outils utils à
      la gestion des films.<br/>
      L'onglet <a [routerLink]="">Films & Genres</a> permet d'ajouter, modifier et de supprimer des films et des genres.
      Il permet aussi de lier des personnalités à des films.<br/>
      L'onglet <a [routerLink]="['pined-films']">Films à l'affiche</a> permet de sélectionner les films et l'ordre d'affichage sur le carrousel sur la page d'acceuil du site.<br/>
      L'onglet <a [routerLink]="">Programmations</a> permet de gérer la programations des séances entre les films les salles et les langues de projection.<br/>
      Les onglets <a [routerLink]="">Salles</a> et <a href="">Langues</a> permettent d'ajouter, modifier et supprimer respectivement des salles et des langues.
    </p>
    <hr/>

    <h1>Administrateur</h1>
    <p>
      En plus des fonctionnalités des deux rôles précédents, ils ont aussi la gestion et l'administration des utilisateurs et personnalités.
    </p>
  </div>
</div>
