<button class="burger-btn" (click)="toggleMenu()" [class.active]="isMenuOpen" aria-label="Menu">
  <span></span>
  <span></span>
  <span></span>
</button>
<aside id="menu" data-bs-theme="light" [class.open]="isMenuOpen">
  <div *ngIf="isModerator()">
    <strong><img src="assets/icons/dashboard/chat.svg" alt="icone commentaire"> Commentaires</strong>
    <ul>
      <li><a [routerLink]="['reports','active']">Derniers signalements</a></li>
      <li><a [routerLink]="['reports']">Tous les signalements</a></li>
      <li><a [routerLink]="['comments']">Tous les commentaires</a></li>
    </ul>
  </div>
  <div *ngIf="isFundManager()">
    <strong><img src="assets/icons/dashboard/watching.svg" alt="icone film"> Gestion des Films</strong>
    <ul>
      <li><a [routerLink]="['films']">Films & Genres</a></li>
      <li><a [routerLink]="['pined-films']">Films à la une</a></li>
      <li><a [routerLink]="['programmes']">Programmations</a></li>
      <li><a [routerLink]="['rooms']">Salles</a></li>
      <li><a [routerLink]="['langs']">Langues</a></li>
    </ul>
  </div>
  <div *ngIf="isAdmin()">
    <strong><img src="assets/icons/dashboard/group.svg" alt="icone individus"> Gestions des Individus</strong>
    <ul>
      <li><a [routerLink]="['users']">Utilisateurs</a></li>
      <li><a [routerLink]="['personalities']">Personnalités</a></li>
    </ul>
  </div>
</aside>
