aside {
  height: calc(100% - 3.5em);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 3.5em;
  background: #ededed;
  overflow-x: hidden;
  padding-top: 1em;
  width: 280px;
  transition: transform 0.3s ease-in-out;
}

ul {
  list-style: none;
}

aside strong, aside a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: inherit;
  font-size: large;
  display: block;
  transition: 0.3s;
}

aside a:hover,
aside a:focus {
  color: #f5a22c !important;
  background-color: rgba(245, 162, 44, 0.12);
  border-radius: 2em;
  padding: 0.6em;
  transition: 0.3s;
}

ul {
  list-style-type: none;
}

img {
  max-width: 2em;
}

.burger-btn {
  display: none;
  position: relative;
  top: 1em;
  z-index: 1000;
  flex-direction: column;
  justify-content: space-between;
  width: 26px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.burger-btn span {
  width: 100%;
  height: 3px;
  background: #333;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.burger-btn.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger-btn.active span:nth-child(2) {
  opacity: 0;
}

.burger-btn.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

@media (max-width: 768px) {
  .burger-btn {
    display: flex;
  }

  aside {
    top: 3.5em;
    height: 100%;
    padding-top: 4.5em;
    transform: translateX(-100%);
    box-shadow: none;
  }

  aside.open {
    transform: translateX(0);
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  }
}
