<button class="burger-btn" (click)="toggleMenu()" [class.active]="isMenuOpen" aria-label="Menu">
  <span></span>
  <span></span>
  <span></span>
</button>
<aside id="menu" data-bs-theme="light" [class.open]="isMenuOpen">
  <div *ngIf="isModerator()">
    <strong><img src="assets/icons/dashboard/chat.svg" alt="icone commentaire"> Commentaires</strong>
    <ul>
      <li><a [routerLink]="['reports','active']">Derniers signalements</a></li>
      <li><a [routerLink]="['reports']">Tous les signalements</a></li>
      <li><a [routerLink]="['comments']">Tous les commentaires</a></li>
    </ul>
  </div>
  <div *ngIf="isFundManager()">
    <strong><img src="assets/icons/dashboard/watching.svg" alt="icone film"> Gestion des Films</strong>
    <ul>
      <li><a>Films & Genres</a></li>
      <li><a [routerLink]="['pined-films']">Films à l'affiche</a></li>
      <li><a>Programmations</a></li>
      <li><a>Salles</a></li>
      <li><a>Langues</a></li>
    </ul>
  </div>
  <div *ngIf="isAdmin()">
    <strong><img src="assets/icons/dashboard/group.svg" alt="icone individus"> Gestions des Individus</strong>
    <ul>
      <li><a>Utilisateurs</a></li>
      <li><a>Personalités</a></li>
    </ul>
  </div>
</aside>
