<div id="carouselExampleIndicators" class="carousel slide featured-carousel" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button *ngFor="let item of pinnedFilms; let i = index; let isFirst = first" type="button" data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i" [class.active]="isFirst"></button>
  </div>

  <div class="carousel-inner carousel-frame featured-carousel-inner">
    <div *ngFor="let item of pinnedFilms; let isFirst = first" class="carousel-item" [class.active]="isFirst">
      <article class="film-pined featured-carousel-card">
        <a [routerLink]="['/film', item.film.slug]" class="featured-carousel-cover-link">
          <div class="film-cover-wrapper featured-carousel-cover">
            <img *ngIf="item.film.coverPath; else noCover" [src]="BASE_URL + item.film.coverPath" [alt]="'Affiche du film ' + item.film.title" class="film-cover-img"/>
            <ng-template #noCover>
              <div class="film-no-cover">No Cover</div>
            </ng-template>
          </div>
        </a>
        <div class="featured-carousel-content">
          <h2><a [routerLink]="['/film', item.film.slug]">{{ item.film.title }}</a></h2>
          <strong *ngIf="item.film.duration">{{ formatDuration(item.film.duration) }}</strong>
          <p>{{ item.film.description }}</p>
          <div class="film-pined-genre featured-carousel-genres">
            <span *ngFor="let genre of item.film.genres">{{ genre.name }}</span>
          </div>
        </div>
      </article>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>

</div>
