.person-edit {
  padding-top: 1em;
  gap: 1em;
  div {
    background-color: #f8f6f6;
  }
}

.person-picture {
  height: 12em;
  width: 12em;
}
form {
  margin: 1em;
}

.form-edit .form-floating:focus-within {
  z-index: 2;
}

.form-edit input {
  border-radius: 0.5em;
}

.form-edit input[type="submit"] {
  border-radius: 0.5rem;
}

.form-edit input[type="checkbox"] {
  margin-right: 0.5em;
}
