<h1>{{ title }}</h1>
<form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
  <p [className]="'text-' + typeResponse">{{ message }}</p>

  <div class="form-floating mb-1">
    <input type="text" class="form-control" id="floatingName" formControlName="name" minlength="3" maxlength="50">
    <label for="floatingName">Nom</label>
  </div>

  <div class="form-floating mb-1">
    <input type="number" class="form-control" id="floatingFirstClassSeats" formControlName="firstClassSeats" min="0">
    <label for="floatingFirstClassSeats">Nombre de sièges première classe</label>
  </div>

  <div class="form-floating mb-1">
    <input type="number" class="form-control" id="floatingSecondClassSeats" formControlName="secondClassSeats" min="0">
    <label for="floatingSecondClassSeats">Nombre de sièges seconde classe</label>
  </div>

  <div class="form-floating mb-1">
    <input type="submit" class="btn btn-primary" value="Valider">
  </div>
</form>
