<div class="genres-selector-container">
  <label for="genre-search">Genres :</label>

  <div class="search-area">
    <div class="chips-container">
      <span *ngFor="let genre of selectedGenres" class="chip">
        {{ genre.name }}
        <button type="button" class="remove-btn" (click)="removeGenre(genre)">&times;</button>
      </span>
    </div>

    <input id="genre-search" type="text" [(ngModel)]="searchQuery" (input)="onSearchChange()" autocomplete="off"/>
  </div>

  <ul *ngIf="filteredGenres.length > 0" class="suggestions-list">
    <li *ngFor="let genre of filteredGenres" (click)="selectGenre(genre)">
      {{ genre.name }}
    </li>
  </ul>
</div>
