<div class="films-carousel-wrapper" id="allFilmsCarouselWrapper">
  <button class="carousel-control-prev" aria-label="Scroll left" (click)="scrollLeft()">
    <span class="carousel-control-prev-icon"></span>
  </button>

  <div class="films-carousel-container" #carouselContainer (wheel)="onWheel($event)">
    <div class="films-carousel" id="filmsCarousel">
      <a *ngFor="let film of films" [routerLink]="['/film', film.slug]" class="film-cover-card">
        <div class="film-cover-wrapper">
          <img *ngIf="film.coverPath; else noCover" [src]="BASE_URL + film.coverPath" [alt]="'Affiche du film ' + film.title" class="film-cover-img"/>
          <ng-template #noCover>
            <div class="film-no-cover">No Cover</div>
          </ng-template>
          <div class="film-cover-overlay">
            <div class="film-title-hover">
              <h3>{{ film.title }}</h3>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <button class="carousel-control-next" aria-label="Scroll right" (click)="scrollRight()">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
