<div class="new-comment">
  <h3>Laisser un commentaire:</h3>
  <form (ngSubmit)="onSubmit()" [formGroup]="formComment">
    <div class="row mb-2">
      <p class="text-danger" *ngIf="message.length != 0">{{ message }}</p>
      <div class="col-8">
        <label for="title">Titre</label>
        <input type="text" name="title" class="form-control form-control-sm" placeholder="Titre" formControlName="title" required minlength="3" maxlength="64">
      </div>
      <div class="col-4">
        <label for="note">Note</label>
        <input type="number" name="note" class="form-control form-control-sm" min="0" max="20" placeholder="Note /20" formControlName="note" required>
      </div>
    </div>
    <div class="mb-2">
      <label for="content">Contenu</label>
      <textarea name="content" class="form-control form-control-sm" rows="4" cols="50" placeholder="Votre commentaire..." formControlName="content" required minlength="64" maxlength="500"></textarea>
    </div>
    <button type="submit" class="btn btn-sm btn-primary">Publier</button>
  </form>
</div>
